.df-form-box{
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

.df-form-box .dx-box-item{
    position: relative;
}

.df-toolbar{
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid !important;
    border-width: 0px 0px 1px 0px !important;
}

.df-toolbar-no-border{
  border-style: none !important;
}

