.react-split {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
  }
  
  .react-split > .split-container {
    position: relative;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
  }

  .df-resizable{
    position: relative;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
  }
  
  .react-split > .split-container > * {
    position: relative;
  }
  
  .react-split > .split-container .full-content {
    position: relative;
  }

  .react-split > .split-container > .splitter .default-splitter{
    border-style: solid;
  }

  .react-split > .split-container.vertical > .splitter .default-splitter{
    border-width: 0px 1px 0px 1px;
  }

  .react-split > .split-container.horizontal > .splitter .default-splitter{
    border-width: 1px 0px 1px 0px;
    
  }

  .react-split > .split-container > .splitter .default-splitter > .line{
    visibility: hidden;
  }
  