@import "../../themes/generated/variables.base.scss";
@import "../../dx-styles.scss";

.header-component {
  flex: 0 0 auto;
  z-index: 1;
  // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  .dx-toolbar .dx-toolbar-item.menu-button>.dx-toolbar-item-content .dx-icon {
    color: $base-accent;
  }
  border-style: none none solid none;
  border-width: 1px;
  border-color: rgb(210, 210, 210);
}

.dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding: 0 40px;

  .screen-x-small & {
    padding: 0 20px;
  }
}

.dx-toolbar .dx-toolbar-item.dx-toolbar-button.menu-button {
  width: $side-panel-min-width;
  text-align: center;
  padding: 0;
}

.header-title .dx-item-content {
  padding: 0;
  margin: 0;
}



.dx-theme-generic {
  .dx-toolbar {
    padding: 10px 0;
  }

  .user-button>.dx-button-content {
    padding: 3px;
  }
}


.header-separator .dx-item-content {
  padding: 0;
  margin: 0;
  color: #03a9f4;
  font-size: 16px!important;
}


.header-page-title .dx-item-content {
  padding: 0;
  padding-top: 2px;
  margin: 0;
  color: #03a9f4;
  font-size: 15px;
}

.header-separator {
  font-size: 18px;
  color: rgb(170, 170, 170);
}

.header-button .dx-button-text{
  text-transform: none;
  font-weight:normal;
  letter-spacing: normal;
  font-size: 14px;
}

.header-button .dx-icon{
  font-size: 18px !important;
}
